# Compiled sources
*.o
*.exe
moc_*.h
obj/
emstudio

# Other project stuff
Makefile
Makefile.Debug
Makefile.Release

# Temp files
*~
*.ini
*.out
debian/stamp-makefile*
debian/files
debian/emstudio.substvars
object_script.emstudio.*

# Project user files
*.user


# Logs
*.json
*.log
*.bin

# User files
*.tgz
*.tar.gz
*.png
*.zip

